@using EmployeeManagement.Application.Features.Models.Commands
@model LoginCommand

<h2>Connexion</h2>

<!-- Affichage des erreurs globales -->
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
<form method="post" action="/api/Employees/login">
    <input type="text" name="Username" placeholder="Nom d'utilisateur" required />
    <input type="password" name="Password" placeholder="Mot de passe" required />

    <div>
        <input type="checkbox" name="RememberMe" id="RememberMe" value="true" />
        <label for="RememberMe">Se souvenir de moi</label>
    </div>

    <button type="submit">Se connecter</button>
</form>
