<head>
    <link rel="stylesheet" href="~/css/Register.css">
</head>

<div class="register-container">

    <header class="header text-white py-3 mb-4">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo">
                <img src="~/images/HCP1.jpeg" alt="Logo" class="logo-img">
            </div>

            <nav>
                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item mx-3">
                        <a href="/api/Employees" class="nav-link">Accueil</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a href="/api/Employees/Login" class="nav-link">Se connecter</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a href="/api/Employees/Register" class="nav-link">S'inscrire</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <h1 class="register-title">Inscription</h1>

    <form method="post" action="/api/Employees/register" class="register-form">
        <div class="form-group">
            <label for="Username">Nom d'utilisateur</label>
            <input type="text" id="Username" name="Username" placeholder="Nom d'utilisateur" required />
        </div>

        <div class="form-group">
            <label for="Password">Mot de passe</label>
            <input type="password" id="Password" name="Password" placeholder="Mot de passe" required />
        </div>

        <div class="form-group">
            <label for="ConfirmPassword">Confirmer mot de passe</label>
            <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirmer mot de passe" required />
        </div>

        <div class="form-group">
            <label for="RoleId">Rôle</label>
            <select id="RoleId" name="RoleId" required>
                @foreach (var role in ViewBag.Roles)
                {
                    <option value="@role.Id">@role.Name</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">S'inscrire</button>
    </form>
</div>
