<form method="post" action="/api/Employees/register">
    <input type="text" name="Username" placeholder="Nom d'utilisateur" required>
    <input type="password" name="Password" placeholder="Mot de passe" required>
    <input type="password" name="ConfirmPassword" placeholder="Confirmer mot de passe" required />
    <select name="RoleId" required>
        @foreach (var role in ViewBag.Roles)
        {
            <option value="@role.Id">@role.Name</option>
        }
    </select>
    <button type="submit">S'inscrire</button>
</form>
