body {
    background-color: #f4f6f9;
}

.header {
    margin-top: 30px; 
    background-color: #007bff; 
    border-radius: 30px; 
    padding: 20px;
}


.logo-img {
    height: 50px; 
    width: auto;
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
}

    .nav-link:hover {
        color: #adb5bd; 
    }

.content h2 {
    font-size: 28px;
    font-weight: bold;
    color: #343a40;
    margin-top: 20px;
}

.content .lead {
    font-size: 18px;
    color: #6c757d;
    margin-bottom: 30px;
}

.buttons .btn-primary {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    transition: background-color 0.3s;
}

    .buttons .btn-primary:hover {
        background-color: #0056b3;
    }

.buttons .btn-outline-primary {
    border: 2px solid #007bff;
    color: #007bff;
    font-weight: bold;
    padding: 12px 24px;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

    .buttons .btn-outline-primary:hover {
        background-color: #007bff;
        color: #fff;
    }

footer {
    font-size: 14px;
    color: #6c757d;
}

    footer a {
        color: #007bff;
    }

        footer a:hover {
            color: #0056b3;
        }
