@page


<head>
    <link rel="stylesheet" href="~/css/AccessDenied.css">
</head>
<div class="access-denied-container text-center">
    <h1 class="text-danger">Accès Refusé</h1>
    <p class="lead">
        Vous n'avez pas les droits pour consulter cette page.<br>
    </p>
    <p>
        Veuillez contacter un administrateur si vous pensez que c'est une erreur.
    </p>
    <div class="btn-group">
        <a href="/Employees/Login" class="btn btn-secondary btn-lg">Se connecter</a>
        <a href="/Employees" class="btn btn-primary btn-lg">Retour à l'accueil</a>
    </div>
</div>
